body {
    background-color: white;
}

#div1 {
    width: 500px;
    height: 370px;
}

#div2 {
    width: 500px;
    height: 370px;
}

.lol {
    position: relative;
}

.xd {
    position: absolute;
    display: block;
}

button {
    padding: 8px 16px;
    border-radius: 4px;
    background-color: white;
    color: black;
    border: 2px solid black;
    transition-duration: 0.3s;
    margin-top: 30px;
}

button:hover {
    background-color: black;
    color: white;
}

.btn1 {
    margin-left: 50px;
}

.btn2 {
    margin-left: 10px;
}

.egy {
    margin-left: 30px;
    margin-top: 50px;
}